/* 
COLOR PALETTE
dark gray   #161616
light gray  #353535
green       #B5f297
*/

/* fonts */
@font-face {
  font-family: "SF Heavy";
  src: url(../media/SF-Pro-Text-Heavy.otf);
}
@font-face {
  font-family: "SF Regular";
  src: url(../media/SF-Pro-Text-Regular.otf);
}
@font-face {
  font-family: "SF Bold";
  src: url(../media/SF-Pro-Text-Bold.otf);
}
@font-face {
  font-family: "SF Italic";
  src: url(../media/SF-Pro-Text-RegularItalic.otf);
}