/*
  COLOR PALLETE
  christmas:  #d2392a
  christmas:  #1b2d1b
  main blue:  #053864
  dark gray:  #8C8C8C
  light gray: #EDF0F1
  white:      #FFFFFF
  opacity:    0.5
*/

/*
* ELEMENTS
*/
* {
  touch-action: manipulation; /* turns off zoom */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #EDF0F1;
}
h1 {
  font-family: "work-sans";
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  color: white;
  margin: 0;
}
h2 {
  font-family: "work-sans";
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: #1b2d1b;
  margin: 0;
}
p {
  font-family: "work-sans";
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #1b2d1b;
  margin: 0;
}
b {
  font-weight: 600;
}
a {
  font-family: "work-sans";
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  text-decoration: none;
  color: white;
  margin: 0;
}
input {
  width: 100%;
  border: 5px #1b2d1b solid;
  background: none;
  padding: 30px;
  /* font style */
  font-family: "work-sans";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #1b2d1b;
}

/* 
* CLASSES
*/
.navbar {
  position: fixed;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 10px black;
}
.navbar > div {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  /* width: 100%; */
  padding: 35px;
  background-color: #1b2d1b;
}
.navbar > div > * {
  text-align: end;
}
.navbar p {
  font-size: 40px;
  color: white;
  margin-top: -20px;
}
.navbar h2 {
  color: white;
  background-color: #8C8C8C;
  text-align: center;
  padding: 10px;
  margin-top: -1px; /* removes a 1px gap in the navbar */
  border-width: 0px;
}
.wrapper {
  display: grid;
  /* min-height: 100vh; */
  height: min-content;
  grid-template-rows: auto min-content;
  background-color: #EDF0F1;
}
.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}
.footer {
  padding: 70px 0px 50px 0px;
}
.footer p {
  color: #8C8C8C;
  opacity: 0.2;
  text-align: center;
}
/* border-radius */
.attractions > div, .slots > div > a, .reserve-pass, .pass-section > div, .slot, .group-counter > div, input {
  border-radius: 30px;
}
.attractions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 50px;
  padding: 50px;
}
.attractions > div {
  display: grid;
  grid-template-rows: min-content min-content;
  width: 100%;
  height: min-content;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
}
.photo > img {
  object-fit: cover;
  width: 100%;
  height: 450px;
}
.attraction-body {
  display: grid;
  padding: 30px;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 15px;
}
.attraction-body > div {
  display: grid;
  justify-content: end;
}
.attraction-body a {
  background-color: #d2392a;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  transform: rotate(-45deg);
}
/* prevents scrolling, used on the body */
.no-scroll {
  overflow: hidden;
  position: fixed;
}

/*
* OVERLAY CLASSES
*/
.overlay {
  /* position: fixed; */
  position: relative;
  display: grid;
  display: none; /* hidden by default */
  grid-template-rows: min-content auto;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: min-content;
  /* top: 0;
  right: 0;
  bottom: -10;
  left: 0; */
  z-index: 2;
  background-color: rgba(255,255,255,0.5);
}
.info-creds {
  padding:30px;
  color:gray;
  text-align:center;
}
.overlay-header {
  display: grid;
  justify-content: end;
  padding: 50px;
}
.overlay-header > a {
  color: white;
  opacity: 0.7;
}
/* INFO */
.info-section {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-gap: 50px;
  padding: 50px;
}
.info-section a {
  display: grid;
  justify-self: center;
  background-color: #d2392a;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  transform: rotate(-45deg);
  width: max-content;
}
/* SLOTS */
.slots-section {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-gap: 70px;
  padding: 50px;
  padding-bottom: 500px;
}
.slots-section h1 {
  color: #1b2d1b;
}
.slots-section > div {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 50px;
}
.group-counter {
  margin: 0 20% 0 20%;
}
.group-counter > div {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-gap: 20px;
  align-items: center;
  border: 5px #1b2d1b solid;
  padding: 20px;
}
.group-counter button {
  color: #1b2d1b;
  font-size: 90px;
  text-align: center;
  background: none;
  padding: 0;
  border: none;
}
.group-counter button:disabled {
  color: white;
  opacity: 0.5;
}
.group-counter p {
  font-size: 40px;
  text-align: end;
  /* opacity: 0.5; */
  /* margin-top: -10px; */
}
.reserve-pass {
  background-color: #1b2d1b;
  color:white;
  text-align: center;
  padding: 35px;
  border: none;
}
.reserve-pass:disabled,
.reserve-pass[disabled]{
  opacity: 0.5;
  background-color: white;
}
.reserve-pass h2 {
  color:white;
}
.reserve-pass:disabled h2,
.reserve-pass[disabled] h2{
  color: gray;
}
/* time slot options */
.slots {
  display: flex;
  overflow-x: auto;
}
.slot {
  color: #1b2d1b;
  font-size: 45px;
  padding: 30px 10px 30px 10px;
  border: 5px #1b2d1b solid;
  text-align: center;
  height: min-content;
  margin-right: 15px;
  width: calc(50% - 50px);
  flex-shrink: 0;
}
.slot-selected {
  color: white;
  background-color: #1b2d1b;
}
/* remove scrollbar */
.slots::-webkit-scrollbar {
  display: none;
}
.disabled {
  pointer-events: none;
  color: #EDF0F1;
}
.error {
  color: red;
}
/* PASS */
.black-background {
  background-color: rgba(0,0,0,0.5);
}
.pass-section {
  /* display: grid; */
  height: 100%;
}
.pass-section > h2 {
  padding: 35px;
  color: white;
}

/*
* LOADING
*/
.loading {
  position: fixed;
  display: grid;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(255,255,255,0.5);
}
.loading > p {
  align-self: center;
  text-align: center;
  font-size: 150px;
  transform: rotate(0deg);
}

.notification-section {
  display: grid;
  /* grid-template-rows: repeat(3, min-content); */
  grid-gap: 50px;
  padding: 50px;
}
.notification-section > * {
  color: #1b2d1b;
}
.notification-section > h1 {
  text-align: center;
}
.phone a, .phone a:link, .phone a:visited, .phone a:hover, .phone a:active, .phone a:focus {
  /* link styles go here, e.g.: */  
  text-decoration: none;
  color: #1b2d1b;
}
