body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

h2.ui.header {
  margin-top: 0;
  color: white;
}

.ui.header .sub.header {
  color: white !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#root {
  padding-top: 100px;
  overflow: hidden;
  display: flex;
  direction: column;
}

#content {
  height: auto;
  overflow: auto;
  font-size: 24pt;
  flex: 1;
}
