body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

div.headroom-wrapper {
  background-color: #053864;
  padding: 5px 20px;
}

div.headroom {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

h2.ui.header {
  margin-top: 0;
}
