h2.ui.header {
  margin-top: 0;
  color: white;
}

.ui.header .sub.header {
  color: white !important;
}

.ui.cards {
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}

.ui.card {
  display: inline-block;
}

.ui.grid {
  margin: 25px !important;
}
